// Variables
$black: #242424; // casing and strap
$gray-dark: #3e3e3e; // buttons
$gray-light: #9d9d9d; // paint screen items
$lightblue: #5b4c92;
$whiteish: #f9f9f9;

body {
	margin: 0;
}

.pebble {
	box-sizing: border-box;
	position: relative;
	height: 375px;
	width: 275px;
	padding: 65px 15px;
	margin: 150px auto;
	background: linear-gradient(180deg, $black, #484848 15%, #484848 85%, $black 100%);
	border-radius: 5px;
	// transform: rotateY(-180deg);
	animation-name: fadeLock;
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
	opacity: 0;

	&__glass {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		padding: 25px;
		background-color: black;
		border-radius: 30px;
		transform: translateY(-300%);
		opacity: 0;

		animation-name: slideIn;
		animation-duration: 1s;
		animation-delay: .5s;
		animation-fill-mode: forwards;
	}

	&__display {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		padding: 0 30px;
		background-color: #171717;
		border-radius: 10px;
		outline: solid $gray-light;
		outline-offset: -15px;
		color: $gray-light;
		transition: color .3s, outline .3s, background .3s;
		opacity: 0;
		animation-name: powerUp;
		animation-duration: .5s;
		animation-delay: 2.5s;
		animation-fill-mode: forwards;

		&--backlight {
			.pebble__shoe,
			.pebble__heart {
				background: $whiteish;
			}

			background: $lightblue;
			color: $whiteish;
			outline: solid $whiteish;
		}
	}

	&__time {
		font-family: 'Press Start 2P', sans-serif;
		padding: 60px 0 20px;
    text-align: center;
    font-size: 18px;

    span {

    	&:first-child {
    		opacity: 0;
				animation: blink 1s;
				animation-iteration-count: infinite;
    	}
    }
	}

	&__button {
		box-sizing: border-box;
		position: absolute;
    top: 80px;
    width: 8px;
    padding: 0;
    border: 1px solid;
		background-color: $gray-dark;
		cursor: pointer;
		opacity: 0;
		z-index: -1;

		&--left {
			left: 0;
			height: 75px;
			animation-name: slideLeft;
			animation-duration: .5s;
			animation-delay: 1.5s;
			animation-fill-mode: forwards;
		}

		&--right {
			right: 0;
			height: 220px;
			animation-name: slideRight;
			animation-duration: .5s;
			animation-delay: 1.5s;
			animation-fill-mode: forwards;

			&::before,			
			&::after {
				content: "";
				position: absolute;
				width: 5px;
				height: 6px;
				background-color: white;
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
			}

			&::before{
				top: 33%;
			}

			&::after {
				top: 66%;
			}
		}
	}

	&__strap {
		position: absolute;
		width: 200px;
    height: 115px;
    right: calc(50% - 100px);
		background-color: $black;
		border-radius: 15px;
		box-shadow: inset 0 0 10px black;

		animation-name: flyIn;
		animation-duration: 1.5s;
		animation-delay: 1s;
		animation-fill-mode: forwards;

		&--top {
			top: -80px;
			clip-path: polygon(3% 0%, 97% 0%, 100% 100%, 0% 100%);
			background: linear-gradient(180deg, #2e2d2d 65%, #343333 80%, #050505);
			transform: translateY(-200%) translateX(-200%) scale(0);
		}

		&--bottom {
			bottom: -80px;
			clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
			background: linear-gradient(180deg, #050505, #343333 20%, #2e2d2d 35%);
			transform: translateY(200%) translateX(200%) scale(0);
		}
	}

	&__biometric {
		font-family: 'Press Start 2P', sans-serif;
		padding: 5px 0;
    font-size: 12px;
	}

	&__heart {
		height: 15px;
		width: 15px;
		background: $gray-light;
		display: inline-block;
		clip-path: polygon(50% 37%, 77% 8%, 100% 26%, 100% 58%, 72% 84%, 50% 100%, 29% 84%, 0 57%, 0 25%, 24% 8%);
		
		~ span {
			margin-left: 25px;
		}
	}

	&__shoe {
		height: 15px;
		width: 25px;
		background: $gray-light;
		display: inline-block;
		clip-path: polygon(15% 47%, 31% 31%, 58% 55%, 94% 65%, 100% 77%, 100% 100%, 22% 100%, 0 100%, 0 73%, 0 38%);

		~ span {
			margin-left: 15px;
		}
	}
}


@keyframes blink {
	0% {opacity: 0;}
	20% {opacity: 1;}
	60% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes slideLeft {
	0% {transform: translateX(0)}
	100% {opacity: 1; transform: translateX(-100%);}
}

@keyframes slideRight {
	0% {transform: translateX(0);}
	100% {opacity: 1; transform: translateX(100%);}
}

@keyframes slideIn {
	80% { opacity: 1;}
	100% {opacity: 1; transform: translateY(0);}
}

@keyframes fadeLock {
	50% {opacity: 1;}
	89% {transform: rotateZ(0)}
	90% {transform: rotateZ(-3deg);}
	94% {transform: rotateZ(3deg) scale(1.03);}
	98% {transform: rotateZ(-3deg);}
	100% {transform: translateZ(0); opacity: 1;}
}

@keyframes powerUp {
	100% {opacity: 1;}
}

@keyframes flyIn {
	70% {transform: translateY(0) translateX(0) scale(1);}
	100% {transform: translateY(0) translateX(0) scale(1);}
}










